node_modules
**/node_modules
apps/web
packages
supabase
.github
.next
apps/web/.next
docs

# Prototype HTML directories (design files, not code)
ACCUEIL
admin_kpi_dashboard_1
admin_kpi_dashboard_2
admin_management_disputes
admin_payment_reconciliation
admin_user_management_desktop
advanced_health_insights
ai_emotional_assistant
ai_voice_assistant_desktop
ai_wellness_companion_desktop
ai_wellness_companion_mobile
appointment_approvals_mobile
appointment_approvals_practitioner
automated_payouts_reconciliation
automated_wellness_journey
availability_settings
booking_selection
booking_success_1
booking_success_2
collaborative_care_referrals
confirm_session
dispute_notification_practitioner
dispute_resolution_admin_mobile
dispute_resolution_center_admin
emotional_journal_entry
financial_reconciliation_admin_mobile
financial_reports_insights
financial_reports_mobile
find_a_practitioner
health_goals_habit_tracker
health_goals_habit_tracker_mobile
medical_futurism
medication_reminders_desktop
medication_reminders_mobile
patient_clinical_record
patient_dashboard
patient_directory
patient_directory_mobile
patient_health_timeline
patient_health_timeline_mobile
patient_medical_record_desktop
patient_notification_center
patient_notifications_mobile
patient_onboarding_practitioner_desktop
patient_onboarding_practitioner_mobile
payment_confirmation
practitioner_dashboard_1
practitioner_dashboard_2
practitioner_dashboard_mobile
practitioner_notification_management
practitioner_onboarding_verification
practitioner_profile
practitioner_profile_public
practitioner_verification_queue_admin
scripts
secure_checkout
security_audit_logs
security_privacy_mobile
security_privacy_settings_desktop
smart_auto_scheduling
video_consultation_1
video_consultation_2
wellness_space_1
wellness_space_2
wellness_space_3
*.html
*.png
*.jpg
*.jpeg
*.gif
*.svg
